@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,300;1,600&display=swap');

body {
    margin: 0;
    text-align: center;
}
h1 {
    font-family:"Lobster", sans-serif;
    font-size: 70px;
    margin-top: 0;
  
}
h2 {
    font-family: "Audiowide",sans-serif;
}
h3 {
    font-family: "Audiowide",sans-serif;
}
p {
    font-family: "overpass", sans-serif;
    font-weight: bold;
}
hr {
    color: #3d3d3d;
    border-style: solid;
    border-width: 3px;
    border-left: none;
    border-right: none;
    border-bottom: none;
    width: 60%;
    margin-top: 30px;
}
.subTitle {
    font-family: "Audiowide",sans-serif;
}

.top-container {
    background-color: #EAF6F6;
    position: relative;
    padding-top: 100px;
    margin-top: -150px;
}
.middle-container {
    background-color: #f4f4f2;

}
.bottom-container {
    background-color: #92889b;
    padding-bottom: 20px;

}
.mountain {
    width: 60%;
}
.cloud {
    width: 300px;
    position: relative;
    bottom: -90px;
}
.profile img {
    width: 200px;
    border-radius: 20px;
    margin-top: 40px;
}
.gif {
    margin-top: -100px;
    margin-bottom: -150px;
}
.list {
    font-family: "Overpass",sans-serif;
    font-size: large;
    font-weight: bolder;
    margin-left: 50px;
    margin-top: 50px;
}
    
.gif2 {
    width: 250px;
    margin-top: 50px;
    margin-bottom: 50px;   
}
span.development {
    color: green;
}
span.design {
    color: orange;
}
span.editing {
    color: #153e90;
    
}
.edit {
    margin-bottom: 50px;
}
.gif3 {
    width: 100px;
}
.footer-link {
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
}
.footer-link:hover {
    color: black;

}